<.table id="artists" rows={@artists} row_click={&JS.navigate(~p"/artists/#{&1}")}>
  <:col :let={_artist}>
    <span class="flex items-center justify-center font-bold bg-primary-200 text-gray-100 h-8 w-8 rounded-full ml-auto">
      <Heroicons.microphone solid class="h-6 w-6 stroke-current" />
    </span>
  </:col>
  <:col :let={artist}><%= artist.name %></:col>
</.table>
