@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat|Audiowide&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";

:root {
    --primary-dark: hsl(263, 85%, 18%);
    --primary-900: hsl(262, 72%, 25%);
    --primary-800: hsl(262, 69%, 31%);
    --primary-700: hsl(262, 60%, 38%);
    --primary-600: hsl(262, 48%, 46%);
    --primary-500: hsl(262, 43%, 51%);
    --primary-400: hsl(261, 47%, 58%);
    --primary-300: hsl(261, 54%, 68%);
    --primary-200: hsl(261, 68%, 84%);
    --primary-100: hsl(262, 61%, 93%);

    --secondary-dark: hsl(348, 94%, 20%);
    --secondary-900: hsl(350, 94%, 28%);
    --secondary-800: hsl(352, 90%, 35%);
    --secondary-700: hsl(354, 85%, 44%);
    --secondary-600: hsl(356, 75%, 53%);
    --secondary-500: hsl(360, 83%, 62%);
    --secondary-400: hsl(360, 91%, 69%);
    --secondary-300: hsl(360, 100%, 80%);
    --secondary-200: hsl(360, 100%, 87%);
    --secondary-100: hsl(360, 100%, 95%);

    --neutral-dark: hsl(209, 61%, 16%);
    --neutral-900: hsl(211, 39%, 23%);
    --neutral-800: hsl(209, 34%, 30%);
    --neutral-700: hsl(209, 28%, 39%);
    --neutral-600: hsl(210, 22%, 49%);
    --neutral-500: hsl(209, 23%, 60%);
    --neutral-400: hsl(211, 27%, 70%);
    --neutral-300: hsl(210, 31%, 80%);
    --neutral-200: hsl(212, 33%, 89%);
    --neutral-100: hsl(210, 36%, 96%);

    --supporting-teal-dark: hsl(176, 100%, 13%);
    --supporting-teal-900: hsl(172, 98%, 20%);
    --supporting-teal-800: hsl(172, 94%, 26%);
    --supporting-teal-700: hsl(170, 91%, 32%);
    --supporting-teal-600: hsl(168, 78%, 41%);
    --supporting-teal-500: hsl(166, 64%, 49%);
    --supporting-teal-400: hsl(164, 70%, 63%);
    --supporting-teal-300: hsl(162, 73%, 74%);
    --supporting-teal-200: hsl(163, 75%, 87%);
    --supporting-teal-100: hsl(165, 67%, 96%);

    --supporting-yellow-dark: hsl(15, 86%, 30%);
    --supporting-yellow-900: hsl(22, 82%, 39%);
    --supporting-yellow-800: hsl(29, 80%, 44%);
    --supporting-yellow-700: hsl(36, 77%, 49%);
    --supporting-yellow-600: hsl(42, 87%, 55%);
    --supporting-yellow-500: hsl(44, 92%, 63%);
    --supporting-yellow-400: hsl(48, 94%, 68%);
    --supporting-yellow-300: hsl(48, 95%, 76%);
    --supporting-yellow-200: hsl(48, 100%, 88%);
    --supporting-yellow-100: hsl(49, 100%, 96%);
}

/* h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

body {
    @apply font-body;
} */

@import "tailwindcss/utilities";

/* This file is for your main application CSS */
